
server:
  port: 8088

spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/mybatis?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&useSSL=false&allowMultiQueries=true
    username: root
    password: zhang

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.yiyezhiqiu.jwt.jwt.domain
  configuration:
    map-underscore-to-camel-case: true

logging:
  level:
    com:
      yiyezhiqiu:
        jwt:
          jwt:
           dao: debug


